<script src="~/Scripts/ControlCenter/LogView.js"></script>
<div class="page-header">
    <h1>
        管理中心
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            日志查看
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <table id="LogTable" class="table table-border table-bordered table-bg table-hover table-sort"></table>
            </div>
        </div>
    </div>
</div>
